
.icon-linkedin-2:before { content: '\e800'; } /* '' */
.icon-home-outline:before { content: '\e801'; } /* '' */
.icon-th-large:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-cog-outline:before { content: '\e804'; } /* '' */
.icon-pin:before { content: '\e805'; } /* '' */
.icon-arrows-cw:before { content: '\e806'; } /* '' */
.icon-sun:before { content: '\e807'; } /* '' */
.icon-dot-3:before { content: '\e808'; } /* '' */
.icon-search-1:before { content: '\e809'; } /* '' */
.icon-celcius:before { content: '\e80a'; } /* '' */
.icon-cancel-1:before { content: '\e80b'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-wechat:before { content: '\f1d7'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-thermometer-2:before { content: '\f2c9'; } /* '' */
.icon-window-maximize:before { content: '\f2d0'; } /* '' */
.icon-window-minimize:before { content: '\f2d1'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
